name: CI

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: 'maven' 
          # La opción 'cache: maven' aquí reemplaza y simplifica el paso manual de caché que tenías

      - name: Build and run tests
        # Importante: Indicamos la carpeta donde está el pom.xml
        working-directory: ./Diseny-Proves-Unitaries
        run: mvn clean verify
